<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}
.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>
<head>
    <title>NBA Prediction Model</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        Home or Away:
        <input name="Home_or_Away" type="number" required>
        <br>
        <br> Field Goals Made:
        <input name="Field_Goals_Made" type="number" required>
        <br>
        <br> Three Point Shots Made:
        <input name="Three_Point_Shots_Made" type="number" required>
        <br> 
        <br>Free Throws Made:
        <input name="Free_Throws_Made" type="number" required>
        <br>
        <br>Free Throws Attempted:
        <input name="Free_Throws_Attempted" type="number" required>
        <br>
        <br>Steals:
        <input name="Steals" type="number" required>
        <br>
        <br>Opponent 3 Point Shots:
        <input name="Opponent_3_Point_Shots" type="number" required>
        <br>
        <br> Opponent Rebounds:
        <input name="Opponent_Rebounds" type="number" required>
        <br>
        <br>Opponent Steals:
        <input name="Opponent_Steals" type="number" required>
        <br>
        <br>Opponent Turnovers:
        <input name="Opponent_Turnovers" type="number" required>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br>
        <br> Predicted Result:
           <p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>
</html>